# Python
*/__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/

# Large Datasets

# Node / Frontend
node_modules/
dist/
.vite/

# Environment Variables & Credentials
.env
*.env
atlas-credentials.env

# IDE
.vscode/
.idea/
*.swp
*.swo
